
@media (max-width: 1200px) {
    .container {
        height: 45vh;
        width: 100vw;
        position: flex;
    }

    .nav{
        flex-shrink: 1;
    }

    .service {
        height: 10vw;

    }

    .picContainer {
        max-width: 50px;
        max-height: 50px;
        min-width: 10px;
        min-height: 10px;
    }
}