@import "text.css";

.main__header {
    padding: 20px 50px;
    position: relative;
}

.main {
    height: 100%;
}

body {
    display: block;
    margin: 8px;
}

.header__container, .footer__container {
    z-index: 1;
    margin: 2% auto 0;
    position: relative;
    padding: 0 20px;
    height: 20%;
    width: 80%;
}

.nav {
    font-family: "GoogleSans", sans-serif;
    font-weight: 600;
    font-size: 2vmin;
    color: black;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: baseline;
}

.nav__item {
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.nav__item:hover {
    border: 2px solid #F1A501;
    color: black;
    border-radius: 5px;
}

.nav__item--sign_up {
    border: 2px solid #000000;
    color: black;
    border-radius: 5px;
    width: 212px;
    height: 40px;
    align-content: center;
    text-align: center;
}

.nav__item--sign_up:hover {
    background-color: #F1A501;
}

.btn__seeMore {
    font-family: "GoogleSans", sans-serif;
    float: left;
    text-align: center;
    background-color: #F1A501;
    border-radius: 20px;
    border-spacing: 10px;
    width: 170px;
    height: 60px;
    margin: 10px 0 0 30%;
}

.btn__seeMore:hover {
    box-shadow: 0px 0px 10px #a27003;
  }

.services {
    height: 60vh;
    width: 100%;
    text-align: center;
    align-content: center;
    margin: 50px 0 180px;
}

.service__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.service {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
}

#serviceFlight {
    border-radius: 50px;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.topsellers {
    height: 60vh;
    width: 100%;
    text-align: center;
    align-content: center;
    margin: 50px 0;
    display: inline-block;
    position: relative;
}

.topsellers__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.topseller {
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    border-radius: 50px;
    box-shadow: 0px 30px 10px 15px rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-size: cover;
}

.topseller__Rome {
    background-image: url("../assets/images/Rectangle 1.png");
}

.topseller__UK {
    background-image: url("../assets/images/Rectangle 2.jpg");
}

.topseller__allEurope {
    background-image: url("../assets/images/Rectangle 3.png");
    position: relative;
}

.topseller__description {
    height: 30%;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: -43%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

.threeSteps {
    height: 60vh;
    text-align: left;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
}

.threeSteps__text, .threeSteps__vidget {
    width: 50%;
    height: 100%;
}

.threeSteps__text {
    display: flex;
    flex-direction: column;
}

.threeSteps__vidget {
    display: flex;
    align-items: center;
    object-fit: fill;
}

.step {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.feedback {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feedback__header {
    width: 20%;
    height: 60%;
}

.feedback__header .header {
    text-wrap: wrap;
}

.feedback__text {
    width: 80%;
    height: 60%;
    margin-left: 10%;
}

.feedback__card {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    border-radius: 50px;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.feedback__photo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: relative;
}

.feedback__photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.swiper {
    width: 40%;
    height: 70%;
    position: relative;
    margin: 0 !important;
}

.swiper-wrapper {
    margin: 5%;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination {
    --swiper-theme-color: black;
}

.footer__block {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.footer__block h1 {
    font-family: "GoogleSans", sans-serif;
    font-weight: 800;
    font-size: 3vmin;
    color: black;
}

.footer__block h2, h3, h4 {
    font-family: "GoogleSans", sans-serif;
    font-weight: 600;
    font-size: 2vmin;
    color: black;
    margin: 0;
}

.Jadoo, .footer__company, .footer__contacts, .footer__more {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.Jadoo__pic {
    margin-bottom: 5%;
}



.mainInfo__pic {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    object-fit: fill;
    margin: 3% 0 5%;
}

.mainInfo__pic img {
    display: block;
    height: 100%;
    max-width: 70%;
}

.service__pic {
    display: flex;
    margin: 10%;
    width: 50%;
    height: 25%;
    align-items: flex-end;
    justify-content: center;
}

#decor2 {
    position: absolute;
    top: -10%;
    right: 10%;
}

#decor3 {
    position: relative;
    z-index: -10;
    left: -50%;
    top: 15%;
}

.step__pic {
    margin: 3%;
}

